nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;

}

nav li:hover {
    background-color: rgb(215, 200, 200);
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 26px;
}

nav>ul>li:hover>ul {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: lightgrey;

}